*{
	box-sizing: border-box;
}

.navegacion {
	background: #A29D9E;
	display: flex;
  	align-items: center;
  	padding: 0 6px;
  	height: 55px;
	
	&__input {
	    position: relative;
	    left: 21%;
	    width: 200px;
	    height: 35px;
	    margin-top: 16px;
	}
	&__opciones {
       margin: 0px;
       position: relative;
       left: 2%;
	   li {
		   display: inline;
		   padding-right: 40px;
    	   font-size: 14px;
		}
	}
}

.container {
	display: flex;
	margin-top: 30px;
}

.primero {
		margin-left: 10px;
		width: 23%;
		display: flex;
        flex-flow: column;
    &__item1{
    	height: 420px;
    }
    &__nombre {
    	margin-left: 32px;
    	margin-bottom: 10px;
    }
    &__login {
    	color: grey;
    	margin-left: 32px;
    	position: relative;
    	bottom: 22px;
    }
    &__follow {
	    width: 270px;
	    height: 42px;
	    position: relative;
	    left: 32px;
	    border: 1px solid#D7DBDD;
        background: linear-gradient(white, #D7DBDD);
        bottom: 30px; 
        display: none; 
    }
    &__reporte {
    	color: grey;
    	font-size: 16px;
    	margin-left: 32px;
    	text-decoration: none;
    	display: none;
    }
    &__linea {
    	width: 270px;
    	margin-left: 32px;
    	position: relative;
    	top: 12px;
    	display: none;
    }
	&__datos {
		position: relative;
    	top: 57px;
	}
	&__foto {
	width: 270px;
    margin-left: 32px;
    border-radius: 2%;
	}
}

.segundo {
		width: 75%;
		border-top: 1px solid #D7DBDD;
	&__repos {
		border-bottom: 1px solid #D7DBDD;
		p {
			font-size: 22px;
		}
	}
}



.compañia {
	    font-weight: bold;
		margin-left: 32px;
		font-size: 18px;
	}
.lugar{
		margin-left: 32px;
		font-size: 18px;
   		position: relative;
        bottom: 15px;
	}
.correo {
		color: blue;
		left: 32px;
		font-size: 18px;
        position: relative;
        bottom: 30px;
	}
.pagina {
		color: blue;
        position: relative;
        left: 32px;
        bottom: 40px;
        font-size: 18px;
	}

.fa-github {
		font-size: 35px;
    	position: relative;
    	left: 20px;
	}
		




