*{
	box-sizing: border-box;
}

.navegacion {
	background: #A29D9E;
	display: flex;
  	padding: 0 6px;
  	height: 55px;

  	&__lista{
  		display: flex;
  		list-style: none;
  		padding: 10px;
  		width: 187%;
  	}
  	&__lista a{
  		text-decoration: none;
     	color: black;
     	padding-right: 20px;
     	font-size: 15px;
     	

  	}

	
	&__input {
	 	
	 	border: none;
	 	border-radius: 5px;
	    width: 250px;
	   	height: 30px;
	    margin-left: 30px;
	    margin-top: -13px;
	    padding-left: 10px;
	    
	}
	&__iconos{
		display: flex;
     	list-style: none;
    	padding-left: 470px;
	}
	&__icon{
		padding-right: 10px;
	}
	&__perfil{
	 	width: 16%;
   		
	}
}

.container{
	display: flex;
  	flex: wrap;
  	margin: 20px;

  	&__perfil{
  		width: 23%;
    	margin:0px 35px;
  	}
  	&__bio{
    color: #666666;
  	}

 	&__img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
	}

  &__repositorio{
    width: 77%;

  }

  &__menu{
    height: 150px;
  }

  &__list{
    margin-top: 20px;
    margin-right: 35px;
  }

  &__desc{
      color: #666666;
  }

}
h1{
  margin-bottom: 5px;
}

h3{
  color: #666666;
  font-weight: normal;
  margin-bottom: 20px;
}

hr{
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}

button{
  background-color: #F4F7F9;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
}

p{
  margin-bottom: 15px;
  font-size: 16px;
}

h2{
  margin-bottom: 10px;
  color: blue;
}
span{
  margin-right: 25px;
  font-size: 12px;
  color: #666666;
}

.fas{
	color: black;
}
.fa-github {
		font-size: 35px;
    	position: relative;
    	left: 20px;
    	margin-top: 9px;
	}
		




